<div class="sidenav-container">
  <div class="sidenav-header">
    <img src="logo.png" alt="QMAKS" class="sidenav-logo">
    <!-- <h2 class="sidenav-title">QMAKS</h2> -->
  </div>
  
  <div class="sidenav-user">
    <div class="user-avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="user-info">
      <p class="user-name">{{ currentUser?.name || 'Admin User' }}</p>
      <p class="user-role">{{ currentUser?.role || 'Administrator' }}</p>
    </div>
  </div>
  
  <mat-divider></mat-divider>
  
  <div class="sidenav-content">
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <!-- Items without children -->
        <a mat-list-item *ngIf="!item.children" [routerLink]="item.route" 
           [class.active]="isActive(item.route)" class="nav-item">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.name }}</span>
        </a>
        
        <!-- Items with children -->
        <div *ngIf="item.children" class="nav-group">
          <a mat-list-item (click)="toggleExpand(item)" class="nav-item parent-item">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.name }}</span>
            <mat-icon class="expand-icon" [class.expanded]="item.expanded">
              expand_more
            </mat-icon>
          </a>
          
          <div class="child-items" [class.expanded]="item.expanded">
            <a mat-list-item *ngFor="let child of item.children" 
               [routerLink]="child.route" 
               [class.active]="isActive(child.route)" 
               class="nav-item child-item">
              <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
              <span matListItemTitle>{{ child.name }}</span>
            </a>
          </div>
        </div>
      </ng-container>
    </mat-nav-list>
  </div>
  
  <div class="sidenav-footer">
    <mat-divider></mat-divider>
    <button mat-button class="logout-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</div>
